@use './variables' as *;
body {
  font-family: $font-Kr;
}
.header {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    height: 70px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    transition: all 0.3s ease;
  .header-inner{
        max-width: 1440px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    .logo{
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
    }
    .menu{
        display: flex;
        gap: 40px;

        button{
        background: none;
        border: none;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            color: $text-color;
            }
        }
    }
  }
  
}

/* 스크롤 내려오면 고정 */
.header.fixed{
  position: fixed;
  top: 20px;
}

/* 날씨별 색상 */

.header.clear{
  background: rgba($sunny, 0.6);
}

.header.cloud{
  background: rgba($clouds, 0.6);
}

.header.rain{
  background: rgba($rain, 0.6);
}
.header.thunder{
  background: rgba($thunder, 0.6);
}
.header.snow{
  background: rgba($snow, 0.6);
}
.header.mist{
  background: rgba($mist, 0.6);
}