.header {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;

  width: calc(100% - 40px);
  height: 70px;

  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.6);

  border-radius: 20px;

  transition: all 0.3s ease;

  .header-inner{
    max-width: 1400px;
    margin: auto;

    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
  }

  .logo{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .menu{
    display: flex;
    gap: 40px;

    button{
      background: none;
      border: none;
      font-size: 14px;
      cursor: pointer;

      &:hover{
        opacity: .6;
      }
    }
  }
}

/* 스크롤 내려오면 고정 */
.header.fixed{
  position: fixed;
  top: 20px;
}

/* 날씨별 색상 */

.header.clear{
  background: rgba(255, 223, 186, 0.6);
}

.header.cloud{
  background: rgba(200, 210, 220, 0.6);
}

.header.rain{
  background: rgba(160, 180, 220, 0.6);
}